/**
  * FIX Design d'état conflict
*/

.odswidget-facet__category-container ol,
ol > li,
ul,
ul > li {
  padding-bottom: var(--is-list) 0rem;
}

/*conflits avec les barres de recherches et inputs sur le portail*/
input,
select {
  background-color: #fff;
  appearance: auto;
  border: 1px solid #ccc;
}

.fr-input {
  border: none;
}

/* FIX font-face qui n'appelle pas au bon endroit */

@font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: normal;
    font-weight: 300;
    src: url(/assets/theme_font/Marianne-Light.woff2) format("woff2"), url(/assets/theme_font/Marianne-Light.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: italic;
    font-weight: 300;
    src: url(/assets/theme_font/Marianne-Light_Italic.woff2) format("woff2"),
        url(/assets/theme_font/Marianne-Light_Italic.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/theme_font/Marianne-Regular.woff2) format("woff2"), url(/assets/theme_font/Marianne-Regular.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: italic;
    font-weight: 400;
    src: url(/assets/theme_font/Marianne-Regular_Italic.woff2) format("woff2"),
        url(/assets/theme_font/Marianne-Regular_Italic.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/theme_font/Marianne-Medium.woff2) format("woff2"), url(/assets/theme_font/Marianne-Medium.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: italic;
    font-weight: 500;
    src: url(/assets/theme_font/Marianne-Medium_Italic.woff2) format("woff2"),
        url(/assets/theme_font/Marianne-Medium_Italic.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/theme_font/Marianne-Bold.woff2) format("woff2"), url(/assets/theme_font/Marianne-Bold.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Marianne;
    font-style: italic;
    font-weight: 700;
    src: url(/assets/theme_font/Marianne-Bold_Italic.woff2) format("woff2"),
        url(/assets/theme_font/Marianne-Bold_Italic.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Spectral;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/theme_font/Spectral-Regular.woff2) format("woff2"), url(/assets/theme_font/Spectral-Regular.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: Spectral;
    font-style: normal;
    font-weight: 900;
    src: url(/assets/theme_font/Spectral-ExtraBold.woff2) format("woff2"), url(/assets/theme_font/Spectral-ExtraBold.woff) format("woff");
}

/* Fix tags de la search bar pour fonctionner avec ng-click*/
div.fr-tag {
  color: var(--text-action-high-blue-france);
  --blend: var(--background-action-low-blue-france-blend);
  background-color: var(--background-action-low-blue-france);
}

div.fr-tag:hover {
  background-color: rgba(172, 172, 255, 0.5);
  text-decoration: underline;
}

/*onglets simple-tabs version dse*/
.ods-simple-tabs-content {
    padding: 10px;
    border: 1px solid var(--border-default-grey);
    background-color: #fff;
    margin-top: -1px;
  }
  
  .ods-simple-tabs-nav {
    margin-bottom: 0px;
  }
  
  .ods-simple-tabs-nav-link.ods-simple-tabs-nav-link-active {
    border-top: 2px solid var(--blue-france-sun-113-625);
    background: #fff;
    border-left: 1px solid var(--border-default-grey);
    border-right: 1px solid var(--border-default-grey);
    color: var(--blue-france-sun-113-625);
  }
  
  .ods-simple-tabs-nav-link:hover {
    background-color: var(--background-action-low-blue-france-hover) !important;
  }
/**
 * Style d'un ensemble de champs
 */

.fr-fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  /**
   * Modificateur pour afficher les éléments en inline
   */ /**
   * Modificateur pour gérer l'état d'erreur
   */ /**
   * Modificateur pour gérer l'état de validation
   */ /**
   * Mixin disabled pour gérer l'état disabled
   */
}

.fr-fieldset .fr-hint-text {
  margin-bottom: 1rem;
}

.fr-fieldset__legend {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.fr-fieldset__legend .fr-hint-text {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.fr-fieldset__content {
  position: relative;
}

.fr-fieldset--inline .fr-fieldset__content {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -0.75rem 0;
}

.fr-fieldset--inline .fr-checkbox-group {
  display: inline-flex;
  margin-bottom: 0;
}

.fr-fieldset--inline .fr-checkbox-group:first-child {
  margin-top: 0;
}

.fr-fieldset--inline .fr-checkbox-group:not(:last-child) {
  margin-right: 1.25rem;
}

.fr-fieldset--inline .fr-checkbox-group:last-child {
  margin-bottom: 0;
}

.fr-fieldset--inline .fr-radio-group {
  display: inline-flex;
}

.fr-fieldset--inline
  .fr-radio-group:not(:last-child)
  input[type="radio" i]
  + label {
  margin-right: 1.75rem;
}

.fr-fieldset--inline .fr-radio-group:first-child {
  margin-top: 0;
}

.fr-fieldset--inline .fr-radio-group:first-child input[type="radio" i] + label {
  margin-top: 0;
}

.fr-fieldset--inline .fr-radio-group:last-child {
  margin-bottom: 0;
}

.fr-fieldset--inline .fr-radio-group:last-child input[type="radio" i] + label {
  margin-bottom: 0;
}

.fr-fieldset--error .fr-fieldset__content::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  left: -0.5rem;
  width: 2px;
}

.fr-fieldset--valid .fr-fieldset__content::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  left: -0.5rem;
  width: 2px;
}

.fr-fieldset[disabled] .fr-label,
.fr-fieldset:disabled .fr-label {
  color: var(--g600-g400);
}

/* ods-select */
.select-group-fix {
  .select-fix {
    background-image: none;
    padding: 2px;
    min-width: 200px;
    .odswidget-select-button {
      background: var(--background-contrast-grey);
      border: none;
      width: 100%;
      font-size: 16px;
      max-width: 200px;
      @media screen and (max-width: 768px) {
        max-width: inherit;
      }
    }
  }
}

/* pop-in */
dialog {
  width: 100%;
}
.ods-pop-in {
  background-color: var(--background-overlay-grey);
  transition: opacity 0.3s, visibility 0.3s;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
  .ods-pop-in__container {
    box-shadow: none;
  }
}

/** FIX hover barre de nav ****/
.ods-front-header__menu-item-link:hover {
    background: rgba(0, 0, 0, 0.04) !important;
    color: #333333;
}

/** FIX hover mot cles cartes catalogue **/ 
.ods-catalog-card__keyword:hover {
    background-color: var(--highlight);
}