/**
  * FIX Design d'état conflict
*/

.odswidget-facet__category-container ol,
ol > li,
ul,
ul > li {
  padding-bottom: var(--is-list) 0rem;
}

/*conflits avec les barres de recherches et inputs sur le portail*/
input,
select {
  background-color: #fff;
  appearance: auto;
  border: 1px solid #ccc;
}

.fr-input {
  border: none;
}

/* Fix tags de la search bar pour fonctionner avec ng-click*/
div.fr-tag {
  color: var(--text-action-high-blue-france);
  --blend: var(--background-action-low-blue-france-blend);
  background-color: var(--background-action-low-blue-france);
}

div.fr-tag:hover {
  background-color: rgba(172, 172, 255, 0.5);
  text-decoration: underline;
}

/*onglets simple-tabs version dse*/
.ods-simple-tabs-nav-link {
  background-color: var(--background-action-low-blue-france);
  box-shadow: none;
  color: #161616;
  font-weight: 700;
  margin: 0 0.25rem;
}

.ods-simple-tabs-nav-link:hover {
  background-color: var(--background-action-low-blue-france-hover) !important;
  border-bottom-color: transparent;
}

.ods-simple-tabs-nav-link.ods-simple-tabs-nav-link-active {
  border-top: 2px solid var(--blue-france-sun-113-625);
  background: #fff;
  border-left: 1px solid var(--border-default-grey);
  border-right: 1px solid var(--border-default-grey);
  color: var(--blue-france-sun-113-625);
  border-bottom: none;
}

.tab-content {
  padding: 20px;
}

.ods-simple-tabs-content {
  padding: 10px;
  border: 1px solid var(--border-default-grey);
  background-color: #fff;
  margin-top: -1px;
}

.ods-simple-tabs-nav {
  margin-bottom: 0px;
}

/**
 * Style d'un ensemble de champs
 */

.fr-fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  /**
   * Modificateur pour afficher les éléments en inline
   */ /**
   * Modificateur pour gérer l'état d'erreur
   */ /**
   * Modificateur pour gérer l'état de validation
   */ /**
   * Mixin disabled pour gérer l'état disabled
   */
}

.fr-fieldset .fr-hint-text {
  margin-bottom: 1rem;
}

.fr-fieldset__legend {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.fr-fieldset__legend .fr-hint-text {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 400;
}

.fr-fieldset__content {
  position: relative;
}

.fr-fieldset--inline .fr-fieldset__content {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -0.75rem 0;
}

.fr-fieldset--inline .fr-checkbox-group {
  display: inline-flex;
  margin-bottom: 0;
}

.fr-fieldset--inline .fr-checkbox-group:first-child {
  margin-top: 0;
}

.fr-fieldset--inline .fr-checkbox-group:not(:last-child) {
  margin-right: 1.25rem;
}

.fr-fieldset--inline .fr-checkbox-group:last-child {
  margin-bottom: 0;
}

.fr-fieldset--inline .fr-radio-group {
  display: inline-flex;
}

.fr-fieldset--inline
  .fr-radio-group:not(:last-child)
  input[type="radio" i]
  + label {
  margin-right: 1.75rem;
}

.fr-fieldset--inline .fr-radio-group:first-child {
  margin-top: 0;
}

.fr-fieldset--inline .fr-radio-group:first-child input[type="radio" i] + label {
  margin-top: 0;
}

.fr-fieldset--inline .fr-radio-group:last-child {
  margin-bottom: 0;
}

.fr-fieldset--inline .fr-radio-group:last-child input[type="radio" i] + label {
  margin-bottom: 0;
}

.fr-fieldset--error .fr-fieldset__content::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  left: -0.5rem;
  width: 2px;
}

.fr-fieldset--valid .fr-fieldset__content::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  left: -0.5rem;
  width: 2px;
}

.fr-fieldset[disabled] .fr-label,
.fr-fieldset:disabled .fr-label {
  color: var(--g600-g400);
}

/* ods-select */
.select-group-fix {
  .select-fix {
    background-image: none;
    padding: 2px;
    min-width: 200px;
    .odswidget-select-button {
      background: var(--background-contrast-grey);
      border: none;
      width: 100%;
      font-size: 16px;
      max-width: 200px;
      @media screen and (max-width: 768px) {
        max-width: inherit;
      }
    }
  }
}

/* pop-in */
dialog {
  width: 100%;
}
.ods-pop-in {
  background-color: var(--background-overlay-grey);
  transition: opacity 0.3s, visibility 0.3s;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
  .ods-pop-in__container {
    box-shadow: none;
  }
}

/** FIX hover barre de nav ****/
.ods-front-header__menu-item-link:hover {
  background: rgba(0, 0, 0, 0.04) !important;
  color: #333333;
}

/** FIX hover mot cles cartes catalogue **/
.ods-catalog-card__keyword:hover {
  background-color: var(--highlight);
}

/***** FIX BOUTONS MODIFIER DATASET *****/
.ods-dataset-visualization__edit-dataset-link {
  border-radius: 0px !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  gap: 5px;
}

/***** FIX HOVER BOUTONS *****/
.ods-dataset-visualization__edit-dataset-link:hover {
  opacity: 0.6;
  background-color: var(--highlight) !important;
}

.ods-button.ods-mapbuilder__add-first-dataset-button:hover,
.ods-page-legacy .btn.ods-mapbuilder__add-first-dataset-button:hover,
.ods-button--primary:hover {
  opacity: 0.6;
  background-color: var(--titles) !important;
}

/***** FIX FOOTER *****/
.fr-footer__content {
  text-align: left;
}


/***** FIX HREF et a *****/

[href].ods-catalog-card__keyword, [href].ods-tabs__tab.ods-tabs__tab--horizontal, .ods-catalog-card__visualization[href],
.ods-dataset-visualization__edit-dataset-link[href],
.ods-button.ods-mapbuilder__add-first-dataset-button[href],
.ods-page-legacy .btn.ods-mapbuilder__add-first-dataset-button[href],
.ods-button--primary[href],
.ods-catalog-card__keyword[href],
.ods-tabs__tab.ods-tabs__tab--simple-nav[href],
.ods-button[href]{
    background-image: none;
}

a:hover {
    text-decoration: none;
}
