/* Error: Can't find stylesheet to import.
 *    ,
 * 10 | @use 'module/path';
 *    | ^^^^^^^^^^^^^^^^^^
 *    '
 *   node_modules/@gouvfr/dsfr/src/core/main.scss 10:1  @import
 *   sass/main.scss 6:9                                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 10 \2502  @use 'module/path';\a    \2502  ^^^^^^^^^^^^^^^^^^\a    \2575 \a   node_modules/@gouvfr/dsfr/src/core/main.scss 10:1  @import\a   sass/main.scss 6:9                                 root stylesheet";
}
