/* Error: Can't find stylesheet to import.
 *   ,
 * 6 | @use 'module/color';
 *   | ^^^^^^^^^^^^^^^^^^^
 *   '
 *   node_modules/@gouvfr/dsfr/src/component/input/input-base/style/_scheme.scss 6:1  @import
 *   node_modules/@gouvfr/dsfr/src/component/input/input-base/main.scss 18:9          @import
 *   node_modules/@gouvfr/dsfr/src/component/input/main.scss 12:9                     @import
 *   sass/main.scss 157:9                                                             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 6 \2502  @use 'module/color';\a   \2502  ^^^^^^^^^^^^^^^^^^^\a   \2575 \a   node_modules/@gouvfr/dsfr/src/component/input/input-base/style/_scheme.scss 6:1  @import\a   node_modules/@gouvfr/dsfr/src/component/input/input-base/main.scss 18:9          @import\a   node_modules/@gouvfr/dsfr/src/component/input/main.scss 12:9                     @import\a   sass/main.scss 157:9                                                             root stylesheet";
}
