<nav class="fr-header" ods-responsive-menu breakpoint="1000">
    <ods-responsive-menu-placeholder>
        <a class="ods-front-header__portal-brand" href="#">
            <!--logo ministère-->
            <img src="/assets/theme_image/Ministere_charge_des_Sports.png" class="ods-front-header__logo" alt="logo" />
            <!--logo partenaire (optionnel)-->
            <img src="/assets/theme_image/logo_france_relance.png" class="ods-front-header__logo" alt="logo" />
        </a>
    </ods-responsive-menu-placeholder>
    <ods-responsive-menu-collapsible>
        <div class="fr-header__body border-bottom">
            <div class="fr-container fix-mobile">
                <div class="portal-header-logo-container">
                    <a href="#">
                        <!--logo ministère-->
                        <img src="/assets/theme_image/Ministere_charge_des_Sports.png" class="ods-front-header__logo"
                            alt="logo" />
                        <!--logo partenaire (optionnel)-->
                        <img src="/assets/theme_image/logo_france_relance.png" class="ods-front-header__logo"
                            alt="logo-france-relance" />
                    </a>
                    <div class="fr-header__service">
                        <a href="/" title="monministere.gouv.fr">
                            <p class="fr-header__service-title"><span
                                    class="ods-header-title-highlight">monministere</span>.gouv.fr</p>
                        </a>
                        <p class="fr-header__service-tagline">baseline - précisions sur l'organisation</p>
                    </div>
                </div>
                ##secondary-menu##
            </div>
        </div>
        <div class="fr-nav">
            <div class="fr-container fix-mobile">##menu##</div>
        </div>
    </ods-responsive-menu-collapsible>
</nav>